// do not remove:
$hidpi: true;
@import 'src/_default_globals';

@if $hidpi {
	@debug 'HiDPI is on';
} @else {
	@debug 'HiDPI is off';
}

/*
 * Set your custom variables
 */

$variant: 'dark';
$base_color: #212121;

/*$warning_color: #F27835 !default;
$error_color: #FC4138 !default;
$success_color: #73d216 !default;*/
