/*

filechooser paned > separator {
  box-shadow: inset -1px 0 $border_color; }
*/

filechooser.csd.background,
filechooser placessidebar list,
.nautilus-window.csd.background,
.nautilus-window placessidebar list {
    background-color: transparent;
}

filechooser placessidebar.sidebar,
.nautilus-window placessidebar.sidebar {
    background-color: rgba($base_color, 0.95);
    box-shadow: inset -1px 0 $border_color;
}

filechooser placessidebar.sidebar row.sidebar-row,
.nautilus-window placessidebar.sidebar row.sidebar-row {
    border: none;
    color: $theme_text_color;
}

filechooser placessidebar.sidebar row.sidebar-row .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row .sidebar-icon {
    color: #6c7683;
}

filechooser placessidebar.sidebar row.sidebar-row.has-open-popup,
filechooser placessidebar.sidebar row.sidebar-row:hover,
.nautilus-window placessidebar.sidebar row.sidebar-row.has-open-popup,
.nautilus-window placessidebar.sidebar row.sidebar-row:hover {
    background-color: rgba(186, 195, 207, 0.15);
}

filechooser placessidebar.sidebar row.sidebar-row:disabled,
filechooser placessidebar.sidebar row.sidebar-row:disabled label,
filechooser placessidebar.sidebar row.sidebar-row:disabled image,
.nautilus-window placessidebar.sidebar row.sidebar-row:disabled,
.nautilus-window placessidebar.sidebar row.sidebar-row:disabled label,
.nautilus-window placessidebar.sidebar row.sidebar-row:disabled image {
    color: rgba(186, 195, 207, 0.4);
}

filechooser placessidebar.sidebar row.sidebar-row:selected.has-open-popup .sidebar-icon,
filechooser placessidebar.sidebar row.sidebar-row:selected .sidebar-icon,
filechooser placessidebar.sidebar row.sidebar-row:selected:hover .sidebar-icon,
filechooser placessidebar.sidebar row.sidebar-row:active:hover .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row:selected.has-open-popup .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row:selected .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row:selected:hover .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row:active:hover .sidebar-icon {
    color: inherit;
}

filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button,
.nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button {
    color: #BAC3CF;
}

filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:hover,
.nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:hover {
    color: #BAC3CF;
    outline-color: rgba(186, 195, 207, 0.3);
    border-color: rgba(26, 28, 34, 0.35);
    background-color: rgba(119, 127, 151, 0.45);
}

filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:active,
.nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:active {
    color: #ffffff;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: $active_color;
    background-color: $active_color;
}

filechooser placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:not(:hover):not(:active) > image,
.nautilus-window placessidebar.sidebar row.sidebar-row:not(:selected) button.sidebar-button:not(:hover):not(:active) > image {
    opacity: 0.5;
}

filechooser placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row,
.nautilus-window placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row {
    color: $active_color;
}

filechooser placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row.sidebar-new-bookmark-row .sidebar-icon {
    color: inherit;
}

filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled),
filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) label,
filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled),
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) label,
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled) .sidebar-icon {
    color: #F08437;
}

filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected,
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected {
    background-color: #F08437;
}

filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected,
filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected label,
filechooser placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected .sidebar-icon,
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected,
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected label,
.nautilus-window placessidebar.sidebar row.sidebar-row:drop(active):not(:disabled):selected .sidebar-icon {
    color: #ffffff;
}

filechooser placessidebar.sidebar separator,
.nautilus-window placessidebar.sidebar separator {
    background-color: transparent;
}

filechooser.maximized placessidebar.sidebar,
.nautilus-window.maximized placessidebar.sidebar {
    background-color: $base_color;
}

filechooser actionbar {
    color: $text_color;
    background-color: $base_color;
    border-color: rgba(0, 0, 0, 0.1);
}

filechooser actionbar label,
filechooser actionbar combobox {
    color: #BAC3CF;
}

filechooser actionbar button {
    color: $text_color;
    outline-color: rgba(186, 195, 207, 0.3);
    border-color: rgba(0, 0, 0, 0.1);
    background-color: $base_color;
}

.caja-side-pane > box button:hover:not(:active),
filechooser actionbar button:hover {
    color: $text_color;
    outline-color: rgba(186, 195, 207, 0.3);
    border-color: rgba(0, 0, 0, 0.1);
    background-color: shade($base_color, 0.95);
}

filechooser actionbar button:active,
filechooser actionbar button:checked {
    color: #ffffff;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(26, 28, 34, 0.35);
    background-color: $active_color;
}

filechooser actionbar button:disabled {
    color: #5d626e;
    border-color: rgba(26, 28, 34, 0.35);
    background-color: rgba(102, 109, 132, 0.2);
}

filechooser actionbar entry {
    color: #BAC3CF;
    border-color: rgba(26, 28, 34, 0.35);
    background-image: linear-gradient(to bottom, rgba(102, 109, 132, 0.35), rgba(102, 109, 132, 0.35));
    background-color: transparent;
}

filechooser actionbar entry image,
filechooser actionbar entry image:hover {
    color: inherit;
}

filechooser actionbar entry:focus {
    color: #ffffff;
    border-color: rgba(26, 28, 34, 0.35);
    background-image: linear-gradient(to bottom, $active_color, $active_color);
}

filechooser actionbar entry:disabled {
    color: rgba(186, 195, 207, 0.55);
    background-image: linear-gradient(to bottom, rgba(102, 109, 132, 0.2), rgba(102, 109, 132, 0.2));
}

/*
filechooser placessidebar.sidebar scrollbar,
.nautilus-window placessidebar.sidebar scrollbar, .nemo-window .sidebar scrollbar, .caja-side-pane scrollbar {
  border-color: rgba(42, 45, 55, 0.95); }
  filechooser placessidebar.sidebar scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider,
  .nautilus-window placessidebar.sidebar scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider, .nemo-window .sidebar scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider, .caja-side-pane scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0, 0, 0, 0.5); }
  filechooser placessidebar.sidebar scrollbar slider,
  .nautilus-window placessidebar.sidebar scrollbar slider, .nemo-window .sidebar scrollbar slider, .caja-side-pane scrollbar slider {
    background-color: rgba(231, 234, 238, 0.7); }
    filechooser placessidebar.sidebar scrollbar slider:hover,
    .nautilus-window placessidebar.sidebar scrollbar slider:hover, .nemo-window .sidebar scrollbar slider:hover, .caja-side-pane scrollbar slider:hover {
      background-color: rgba(0,0,0,0.6);
border:1px solid rgba(0,0,0,0.7);
box-shadow: none;}
    filechooser placessidebar.sidebar scrollbar slider:hover:active,
    .nautilus-window placessidebar.sidebar scrollbar slider:hover:active, .nemo-window .sidebar scrollbar slider:hover:active, .caja-side-pane scrollbar slider:hover:active {
      background-color: rgba(0,0,0,0.8); }
    filechooser placessidebar.sidebar scrollbar slider:disabled,
    .nautilus-window placessidebar.sidebar scrollbar slider:disabled, .nemo-window .sidebar scrollbar slider:disabled, .caja-side-pane scrollbar slider:disabled {
      background-color: transparent; }
  filechooser placessidebar.sidebar scrollbar trough,
  .nautilus-window placessidebar.sidebar scrollbar trough, .nemo-window .sidebar scrollbar trough, .caja-side-pane scrollbar trough {
    background-color: rgba($base_color,0.5); }
*/
